App_WebReferences/ServiceReference1/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="client">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_CodeBadge" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="clientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientResult" type="tns:ArrayOfClient" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfClient">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Client" nillable="true" type="tns:Client" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Client">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="IdClient" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="CodeBadge" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="IdMag" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdSucre" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="IdTypeConso" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddConso">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_CodeBadge" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="_SucreID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_MugID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="_TypeConso" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddConsoResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="clientSoapIn">
    <wsdl:part name="parameters" element="tns:client" />
  </wsdl:message>
  <wsdl:message name="clientSoapOut">
    <wsdl:part name="parameters" element="tns:clientResponse" />
  </wsdl:message>
  <wsdl:message name="AddConsoSoapIn">
    <wsdl:part name="parameters" element="tns:AddConso" />
  </wsdl:message>
  <wsdl:message name="AddConsoSoapOut">
    <wsdl:part name="parameters" element="tns:AddConsoResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="client">
      <wsdl:input message="tns:clientSoapIn" />
      <wsdl:output message="tns:clientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddConso">
      <wsdl:input message="tns:AddConsoSoapIn" />
      <wsdl:output message="tns:AddConsoSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="client">
      <soap:operation soapAction="http://tempuri.org/client" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddConso">
      <soap:operation soapAction="http://tempuri.org/AddConso" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="client">
      <soap12:operation soapAction="http://tempuri.org/client" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddConso">
      <soap12:operation soapAction="http://tempuri.org/AddConso" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="http://localhost:35105/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="http://localhost:35105/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>